:root{
    --dark_color:rgba(1, 45, 58, 0.8);
    --secondary_text:#F7E103;
    --main-fonts: 'kyivType', sans-serif;
    --title-fonts: 'handelson', sans-serif;
}
@font-face {
    font-family: kyivType;
    src: url(../fonts/KyivTypeSerif.ttf);
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: handelson;
    src: url(../fonts/handelsonsix.otf);
    font-display: swap;
}
body{
    font-family: var(--main-fonts);
    color: white;
    background: rgba(20, 34, 39, 0.92);
}
.container-xxxl{
    max-width: 1900px;
}
.header_info_us{
    border-top: 1px solid #f7e30356;
}
.header_info_us a{
    text-decoration: none;
    color: white;
}
.header_info_us a:first-child{
    color: var(--secondary_text);
}
.header_info_us a:first-child:hover{
    color: white;
}
.header_info_us a:hover{
    color: var(--secondary_text);
}
.bg-dark-custom{
    background-color:rgba(1, 45, 58, 1);
}
.modal-header{
    border-bottom: none;
}
.modal-content{
    background-color: rgb(44 68 75);
}
.modal-content input,
.modal-content textarea{
    background: #44595f;
    border: none;
    border-radius: 7px;
    padding: 7px;
    border-left: 1px dashed #f7e10324;
    border-bottom: 1px dashed #f7e10342;
    color: white;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.modal-content textarea{
    min-height: 80px;
    height: 100px;
}
.modal-content input:focus,
.modal-content textarea:focus{
    border:none;
}
.modal-content input:focus,
.modal-content textarea:focus {
    outline:none;
}
.modal-content input::placeholder,
.modal-content textarea::placeholder{
    color: #ababab;
}
.navbar-brand{
    color:var(--secondary_text);
    font-family: var(--title-fonts);
    font-size: 2em;
}
.modal-footer{
    border-top: none;
}
.modal-footer button{
    font-size: 1.2em;
}
.nav-item{
    font-size: 1.15em;
    font-weight: 300;
    letter-spacing: 1.2px;
    position: relative;
}
.nav-item a{
    color:white;
    transition: 0.3s ease-in-out;
}
.nav-item a::before{
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-5px);
    opacity: 0;
    visibility: hidden;
    top:-10px;
    background: var(--secondary_text);
    transition: .25s ease-in-out;
}
.nav-item a:hover{
    color:var(--secondary_text);
}
.nav-item a:hover::before{
    top:41px;
    opacity: 1;
    visibility: visible;
}
.nav-item a.active{
   color: var(--secondary_text) !important;
   border-bottom: 1px solid var(--secondary_text);
}

.heading{
    padding-top: 100px;
    background: url(../img/fon-bh-head-002.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.heading h1 {
    font-family: sans-serif;
}
.heading h1 span{
    font-family: var(--title-fonts);
    color: var(--secondary_text);
    font-size: 2.5em;
}
.head_r_block{
    text-align: end;
/*     margin-top: 80px; */
}
.heading .head_r_block img{
    max-width: 500px;
    width: 100%;
    height: auto;
    animation: img-muve 5s infinite 1s;
}
@keyframes img-muve {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}

.head_r_block .text p{
    transform: translate(63px, 70px);
    font-family: sans-serif;
    font-size: 1.35em;
    line-height: 29px;
}
.head_r_block .text p span:nth-child(2){
    color: var(--secondary_text);
    font-size: 1.48em;
}
.btn-warning_cust{
    background: var(--secondary_text) !important;
    border-radius: 31.5px;
    font-size: 1.5em;
    padding-right: 15px;
    line-height: 37px;
    color: black !important;
}
.box_by{
    position: relative;
}
.box_by p{
    font-size: 1.9em;
    background: black;
    border-radius: 31.5px;
    border: 1px solid white;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    transform: translateY(18px);
}
.box_by img{
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-189px) rotate(-5deg);
    z-index: 1;
    max-width: 400px;
}
.kont_us a{
    text-decoration: none;
    color: white;
}
.kont_us a:hover{
   color: var(--secondary_text);
}


h2{
    font-size: 3em;
    position: relative;
    padding-left: 60px;
}
h2::before{
    content: "---";
    color: var(--secondary_text);
    position: absolute;
    top:calc(50% - 26px);
    font-size: 0.8em;
    left: 0; 
}

.about_us p{
    font-size: 1.2em;
}
.about_us img{
  /*   position: absolute; */
    width: 100%;
    opacity: 0.6;
}

.about_us_text{
    transform: translate(90px, 10px);
    padding: 20px;
    background: #011f2963;
    border: 1px dashed rgba(247, 225, 3, 0.7);
    border-radius: 16px;
    z-index: 20;
    position: relative;
}

.news_Box img{
    /* width: 100%;
    max-width: 834px; */
    max-height: 250px;
    object-fit: cover;
    opacity: 0.85;
}
.news_text{
    background: #011f2963;
    border: 1px dashed rgba(247, 225, 3, 0.7);
    border-radius: 16px;
    z-index: 20;
    transform: translateX(-50px);
}
h3{
    color: var(--secondary_text);
    letter-spacing: 1.2px;
}
p{
    letter-spacing: 1.2px;
}
.row {
    margin-right: 0;
}

.news_Box>div:nth-child(2n+1){
    flex-direction: row-reverse;
}
.news_Box>div{
    position: relative;
}
.news_Box>div svg{
    position: absolute;
    right: 10%;
    top: -14%;
    width: 99px;
}
.news_Box>div:nth-child(2n+1) svg{
    position: absolute;
    left: 10%;
    top: -14%;
    width: 99px;
}
.news_Box>div:nth-child(2n+1) .news_text{
    transform: translateX(50px);
}

.btn-warning_cust_zakaz{
    background: var(--secondary_text);
    padding: 8px 30px;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.tovar_custom{
    background: #011f2963;
    border: 1px dashed rgba(247, 225, 3, 0.7);
    border-radius: 16px;
}
.tovar_custom p{
    font-size: 1.5em;
    font-weight: 600;
}
.img_zakaz{
    height: 180px;
}
.img_zakaz img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.w-40{
    max-width: 700px;
}
.block_more_info{
    background: url(../img/fon-2.jpg) no-repeat;
    background-position:center center;
    background-size: cover;
}
.h-70{
    min-height: 500px;
}
.more_info{
    background: #011f29b2;
    border: 1px dashed rgb(247 225 3 / 41%);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.more_info p{
    margin:5px 0;
    line-height: 19px;
}
.img_photos{
    max-height: 355px;
}
.img_photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_photos_first img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.events_info{
    background: #011f2963;
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 10px;
}
.events_info img{
    max-height: 100px;
    height: 100%;
    border-radius: 16px;
}
.reviews{
    background: #011f2963;
    border-radius: 16px;
    border: 1px dashed rgb(247 225 3 / 41%);
}
footer{
    background: var(--dark_color);
}
footer ul{
    list-style: none;
    padding: 0;
}
footer ul li a{
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: white;
    padding: 5px;
    margin: 5px 0;
}
footer ul li a svg{
    width: 25px;
    height: auto;
    margin-right: 10px;
}
footer ul li a:hover{
    color: var(--secondary_text);
}
footer ul li svg{
    width: 25px;
    height: auto;
    margin-right: 15px;
}
footer ul li{
    padding: 5px;
    margin: 5px 0;
}

footer h3{
    color: white;
    position: relative;
}
footer h3::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 35px;
    border-left: 3px dashed var(--secondary_text);
    left: -14px;
    top: 0;
}
footer .copyright{
    border-top: 1px solid var(--secondary_text);
}
.modal-body{
    font-family: sans-serif;
}
@media (max-width:1797px) {
    .news_Box h2{
        margin-top: 50px !important;
    }
}
@media (max-width:1600px) {
    .about_us p{
        font-size: 1em;
    }
    .about_us img{
        /*   position: absolute; */
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}
@media (max-width:1408px) and (min-width:991px) {
    .heading h1 {
        padding-left: 10px;
    }
    .heading h1 span{
        font-size: 1.9em;
    }
}

@media (min-width:1380px) {
    
    .head_r_block .text p{
        transform: translate(50px, 60px);
    }
/*     .news_Box>div{
        margin-bottom: -10px !important;
    } */
}
@media (max-width:1154px) and (min-width:991px) {
    .nav-item{
        font-size: 0.9em;
    }
}
@media (max-width:1036px) {
    .news_Box>div svg{
        display: none;
    }
}
@media (max-width:990px) {
    .bg-dark-custom{
        background: rgba(1, 45, 58, 1);
    }
}


@media (max-width:767px) {
    .about_us_text {
        transform: translate(0px, -4px);
    }
    .about_us img{
        margin-top: -91px;
    }
    footer .copyright p{
        padding: 15px 0 !important;
    }
}
@media (max-width:704px) {
    .btn-warning_cust_zakaz {
        background: var(--secondary_text);
        padding: 8px 30px;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
}
@media (max-width:634px) {
    .news_text p{
        font-size: 0.8em;
    }
    .events_info p{
        font-size: 0.8em;
        
    }
    
}
@media (max-width:575px) {
    .news_text {
        transform: translate(0px, -99px);
        background: #011f29c4;
        margin: 0 auto;
    }
    .news_Box>div:nth-child(2n+1) .news_text{
        transform: translate(0px, -99px);
        margin: 0 auto;
    }
    .news_Box>div{
        margin-bottom: -75px !important;
    }
    h2{
        font-size: 2em;
        padding-left: 35px;
    }
    h2::before {
        top: calc(50% - 15px);
    }

}
@media (max-width:550px) {
    .about_us_text {
        padding: 7px;
    }
    .heading h1 {
        margin-top: 50px;
    }
    .heading h1 span{
        font-size: 1.65em;
    }
    .heading .head_r_block img{
       max-width: 180px;
    }
    .head_r_block .text p {
        transform: translate(8px, 44px);
        font-family: sans-serif;
        font-size: 1em;
        line-height: 21px;
    }
    .box_by p {
        font-size: 1.3em;
        max-width: 200px;
    }
    .box_by img {
        top: -26px;
        transform: translateX(-141px) rotate(-5deg);
        max-width: 295px;
    }
    .btn-warning_cust {
        font-size: 1em;
        line-height: 35px;
    }
    .btn-warning_cust svg{
        width:22px;
        height: 28px;
    }
}
@media (max-width:515px) {
    footer .copyright p{
        font-size: 0.8em;
    }
}
@media (max-width:402px) {
    .navbar-brand{
        font-size: 1.4em;
    }
    footer .copyright p{
        font-size: 0.6em;
        padding: 15px 0 !important;
    }
}


